*.pro.user
*.img
*.o
*.d
*.elf
.DS_Store

bin/sntool
bin/*bootimg
bin/sunxi-*
bin/bin2fex
bin/fex2bin
bin/mkbootfs

build*/
kernel*/
data/
dump/

mod/bin/
mod/hakchi/shell/clovershell
mod/hakchi/transfer/
mod/lib
mod/lib32/

!*init.d

sntool/sntool

tmp/
transfer

hakchi-hmod/
kernel.hmod/
