*.pro.user
*.img
*.o
*.d
*.elf
.DS_Store

bin/sntool
bin/*bootimg
bin/sunxi-*
bin/bin2fex
bin/fex2bin
bin/mkbootfs

build*/*
kernel*/*
!kernel/kernel.img-base
!kernel/kernel.img-board
!kernel/kernel.img-cmdline
!kernel/kernel.img-hash
!kernel/kernel.img-kerneloff
!kernel/kernel.img-pagesize
!kernel/kernel.img-ramdiskoff
!kernel/kernel.img-secondoff
!kernel/kernel.img-tagsoff
data/*
!data/zImage
dump/*

mod/bin/
mod/hakchi/shell/clovershell
mod/hakchi/transfer/
mod/lib32/

!*init.d
!interfaces.d

sntool/sntool
sntool/sntool.exe

tmp/
transfer

hmods/*
hakchi-hmod/*
hakchi.hmod
hakchi-*.hmod
kernel.hmod/*
nand/*
nesromtool/*

3rdparty/util-linux-2.31.1/
3rdparty/util-linux-2.31.1.tar.xz

sd/boot0.bin
sd/uboot.bin
sd/temp/
sd/out/
sd/squash/extra-hmods/*.hmod
sd/fs/hakchi/transfer/
sd/squash/bin/
