[submodule "3rdparty/mkbootimg"]
	path = 3rdparty/mkbootimg
	url = https://github.com/osm0sis/mkbootimg
[submodule "3rdparty/sunxi-tools"]
	path = 3rdparty/sunxi-tools
	url = https://github.com/linux-sunxi/sunxi-tools
[submodule "3rdparty/macdylibbundler"]
	path = 3rdparty/macdylibbundler
	url = https://github.com/auriamg/macdylibbundler
[submodule "3rdparty/mkbootfs"]
	path = 3rdparty/mkbootfs
	url = https://github.com/osm0sis/mkbootfs/
[submodule "3rdparty/decodepng"]
	path = 3rdparty/decodepng
	url = https://github.com/DanTheMan827/decodepng.git
[submodule "3rdparty/sun-nontendocm-kernel"]
	path = 3rdparty/sun-nontendocm-kernel
	url = https://github.com/madmonkey1907/sun-nontendocm-kernel.git
[submodule "3rdparty/e2fsprogs"]
	path = 3rdparty/e2fsprogs
	url = https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
