[submodule "3rdparty/mkbootimg"]
	path = 3rdparty/mkbootimg
	url = git@github.com:osm0sis/mkbootimg.git
[submodule "3rdparty/sunxi-tools"]
	path = 3rdparty/sunxi-tools
	url = git@github.com:linux-sunxi/sunxi-tools.git
