[submodule "3rdparty/mkbootimg"]
	path = 3rdparty/mkbootimg
	url = https://github.com/osm0sis/mkbootimg
[submodule "3rdparty/sunxi-tools"]
	path = 3rdparty/sunxi-tools
	url = https://github.com/linux-sunxi/sunxi-tools
[submodule "3rdparty/macdylibbundler"]
	path = 3rdparty/macdylibbundler
	url = https://github.com/auriamg/macdylibbundler
[submodule "3rdparty/mkbootfs"]
	path = 3rdparty/mkbootfs
	url = https://github.com/osm0sis/mkbootfs/
